<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("partials/head.ejs")%>
</head>

<body>
    <%- include("partials/navbar.ejs")%>
        <!-- CARD SISTEMS -->
        <div class="container p-4">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="progra.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Windows</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="#" class="btn btn-primary btn-block">Ir ahora</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="progra.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Distros</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary btn-block">Ir ahora</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>

            </div>
        </div>
        <!-- CARD SISTEMS -->
</body>

</html>